[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Categories=Network;Utility;
Icon=harbour-hostisdown
Exec=harbour-hostisdown
Name=HostIsDown
Comment=Check if the desired host is up or not
